@page "/forum/viewquestions"
@using CRM.AzureBlobStorage.Interface
@using CRM.Data.DTO
@using Microsoft.AspNetCore.Authorization
@using CRM.Data
@using System.ComponentModel.DataAnnotations
@using System.Security.Claims
@attribute [Authorize]
@inject ApplicationDbContext dbContext
@inject NavigationManager navManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.EntityFrameworkCore

<h3>FAQ</h3>

<div class="d-flex align-items-center">
    <div class="col-md-2 "></div>
    <div class="col-md-8">
        <InputText @bind-Value="searchTerm" placeholder="Search questions..." class="form-control" @onkeyup="HandleKeyUp" />
    </div>
</div>






<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Question Title</th>
                <th>Customer</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in Questions)
            {
                <tr>
                    <td>@question.Title</td>
                    <td>@question.Customer?.Name</td>
                    <td>
                        <button class="btn btn-sm btn-secondary me-2" type="button" @onclick="() => ViewQuestion(question.Id)">
                            View
                        </button>
                        <button class="btn btn-sm btn-primary" type="button" @onclick="() => ReplyToQuestion(question.Id)">
                            Reply
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private List<Forum> Questions = new();
    private string searchTerm = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Questions = await dbContext.Forums
            .Include(p => p.Customer)
            .ToListAsync();
    }

    protected async Task SearchQuestions()
    {
        Questions= await dbContext.Forums
            .Include(p => p.Customer)
            .Where(f => f.Title.Contains(searchTerm) || f.Content.Contains(searchTerm))
            .ToListAsync();
        await Task.Run(async () => await InvokeAsync(StateHasChanged));
    }

    private void ReplyToQuestion(Guid Id)
    {
        navManager.NavigateTo($"/forums/reply/{Id}");
    }

    private void ViewQuestion(Guid Id)
    {
        navManager.NavigateTo($"/forums/view/{Id}");
    }
    private void HandleKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            SearchQuestions();
        }
    }
}
