@using Microsoft.AspNetCore.Authentication
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager




<RadzenLayout>
    <RadzenHeader>
        <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
    </RadzenHeader>

    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <AuthorizeView>
            <Authorized>
                <RadzenPanelMenu>
                    <RadzenPanelMenuItem Text="Home" Icon="home" Path="/" />
                    <RadzenPanelMenuItem Text="Add Customers" Icon="account_box" Path="/CustomerInfo" />
                    <RadzenPanelMenuItem Text="View Customers" Icon="account_box" Path="/showcustomers" />
                    <RadzenPanelMenuItem Text="Customer Interactions" Icon="account_box" Path="/CustomerInteractions" />
                    <RadzenPanelMenuItem Text="View Interactions" Icon="account_box" Path="/CustomerInteractions/ViewInteraction" />
                    <RadzenPanelMenuItem Text="Add Staff" Icon="account_box" Path="/Addstaff" />
                    <RadzenPanelMenuItem Text="View Staff" Icon="account_box" Path="/viewstaff" />
                    <RadzenPanelMenuItem Text="Add Projects" Icon="feedback" Path="/addproject" />
                    <RadzenPanelMenuItem Text="View Projects" Icon="feedback" Path="/ViewProjects" />
                    <RadzenPanelMenuItem Text="Device Registration" Icon="devices" Path="/devices/registration" />
                    <RadzenPanelMenuItem Text="View Devices" Icon="devices" Path="/devices/view" />
                    <RadzenPanelMenuItem Text="Assign Devices" Icon="devices" Path="/assigndevice" />
                    <RadzenPanelMenuItem Text="FAQ/Forums" Icon="forum" Path="/forum/add" />
					<RadzenPanelMenuItem Text="View Questions" Icon="visibility" Path="/forum/viewquestions" />
                    <RadzenPanelMenuItem Text="Add appointment/event" Icon="calendar_add_on" Path="/calendar/addtask"/>
                    <RadzenPanelMenuItem Text="Calendar" Icon="calendar_month" Path="/calendar/schedule" />
                    <RadzenPanelMenuItem Text="Generate Invoice" Icon="description" Path="/invoice/generate" />
					<RadzenPanelMenuItem Text="View Invoices" Icon="receipt_long" Path="/invoices" />
					<RadzenPanelMenuItem Text="Add Sales" Icon="finance" Path="/sales/add" />
					<RadzenPanelMenuItem Text="Sales Analysis" Icon="show_chart" Path="/sales/graph" />
                    <RadzenPanelMenuItem Text="Account" Icon="account_circle" Path="/Account/Manage" />
                    
                </RadzenPanelMenu>
                <div class="rz-p-3">
                    <form action="/Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="returnUrl" value="@currentUrl" />
                        <button type="submit" class="rz-button rz-button-danger w-100">
                            <i class="material-icons">logout</i>
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <RadzenPanelMenu>
                    <RadzenPanelMenuItem Text="Login" Icon="login" Path="/Account/Login" />
                    <RadzenPanelMenuItem Text="Register" Icon="person_add" Path="/Account/Register" />
                </RadzenPanelMenu>
            </NotAuthorized>
        </AuthorizeView>
    </RadzenSidebar>

    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

<RadzenComponents @rendermode="InteractiveServer" />
@code {
    private bool sidebar1Expanded = true;
    private string? currentUrl;



    private async Task OnInitialisedAsync()
    {
        await base.OnInitializedAsync();
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
    }

}