@inherits LayoutComponentBase


@code {
    private bool sidebar1Expanded = true;
}

<RadzenLayout>
    <RadzenHeader>
        <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
    </RadzenHeader>

    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Home" Icon="home" Path="/" />
            <RadzenPanelMenuItem Text="Users" Icon="account_box" Path="/Account/Login" />
            <RadzenPanelMenuItem Text="Add Customers" Icon="account_box" Path="/CustomerInfo"/>
            <RadzenPanelMenuItem Text="View Customers" Icon="account_box" Path="/showcustomers" />
            <RadzenPanelMenuItem Text="Add Staff" Icon="account_box" Path="/Addstaff" />
            <RadzenPanelMenuItem Text="View Staff" Icon="account_box" Path="/viewstaff" />
            <RadzenPanelMenuItem Text="Add projects" Icon="feedback" Path="/addproject"/>
            <RadzenPanelMenuItem Text="View projects" Icon="feedback" Path="/ViewProjects" />
        </RadzenPanelMenu>
    </RadzenSidebar>

    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

<RadzenComponents @rendermode="InteractiveServer" />